{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": 0
  },
  "plugins": [
    "react", "standard"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      moduleDirectory: ["node_modules"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
